
.vscode/settings.json
__pycache__/tictactoecog.cpython-35.pyc
__pycache__/osucog.cpython-35.pyc
__pycache__/musiccog.cpython-35.pyc
__pycache__/funcog.cpython-35.pyc
__pycache__/faceitcog.cpython-35.pyc
__pycache__/dfunctions.cpython-35.pyc
__pycache__/dfunctions.cpython-36.pyc
